* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    background: transparent;
    overflow: visible;
    width: auto;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.header .container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 19px;
}

.profile, .chat { 
    max-width: 34px;
    cursor: pointer;
}

.header .container .logo { 
    max-width: 84px;
    cursor: pointer;
}

.header .container .logo img { 

}

.header .container .chat { 

}

.header .container .chat img { 

}

.main { 

}

.main .container { 

}

.main .container .image-container { 

}

.main .container .image-container img { 

}

.main .container .image-container .title { 

}

.main .container .image-container .description { 

}

.footer { 

}

.footer .container { 

}

.footer .container .nope { 

}

.footer .container .nope img { 

}

.footer .container .like { 

}

.footer .container .like img { 

}