* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    background: transparent;
    overflow: visible;
    width: auto;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 19px;
}

.profile,
.chat {
    max-width: 34px;
    cursor: pointer;
}

.header .container .logo {
    max-width: 84px;
    cursor: pointer;
}

.main .container .image-container {
    display: grid;
    padding: 0 8px;
}

.main .container .image-container .text {
    grid-column: 1/1;
    grid-row: 1/1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.main .container .image-container img {
    grid-column: 1/1;
    grid-row: 1/1;
    border-radius: 15px;
}

.main .container .image-container .title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    text-align: left;
    color: #F8F8F8;
    margin-left: 12px;

}

.main .container .image-container .description {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    color: #B7B7B7;
    margin-left: 12px;
    margin-bottom: 16.5px;
}


.footer .container {
    padding: 24px 8px 0px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
}

.nope,
.like {
    width: 91.87px;
    height: 91.87px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #E9E9EA;
    border-radius: 50%;
    cursor: pointer;
}

.nope {
    justify-self: flex-end;
}

.like:hover {
    background: #DBFFF4;
    box-shadow: 0px 10px 20px #CCF1E6;
}

.nope:hover {
    background: #FFE7EF;
    box-shadow: 0px 10px 20px #EDD9DF;
}